body {
  font-family: sans-serif;
}

nav a {
  display: inline-block;
  margin: 1em;
  text-decoration: none;
  color: #00aff0;
}

nav {
  border-radius: 5px;
  border: #00aff0 solid 1px;
}

h1 {
  color: #00aff0;
}

img {
  height: 650px;
  width: 100%;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 5px;
}

.flex {
  display: flex;
}

/* Icon */
#icon {
  display: flex;
  align-items: center;
}

.fa-video {
  color: white;
  position: absolute;
  font-size: 23px;
  top: 36px;
  left: 17px;
}

.fa-square {
  color: #00aff0;
  position: relative;
  font-size: 40px;
  margin-right: 5px;
  margin-left: 5px;
}

/* Home */
.container {
  position: relative;
}

.text-on-image {
  width: 350px;
  position: absolute;
  top: 65px;
  right: 100px;
}

.container h1 {
  color: black;
}

/* Videos */
video {
  object-fit: cover;
  transform: rotateY(180deg);
}

.video-container p {
  text-align: center;
}

#my-video {
  width: 27%;
  height: 24%;
  position: absolute;
  bottom: 40px;
  right: 40px;
  box-shadow: white -3px 3px 10px;
}

#remote-video {
  width: 100%;
  height: 80%;
  box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px,
    rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px,
    rgba(156, 172, 172, 0.2) 0px 16px 16px,
    rgba(156, 172, 172, 0.2) 0px 32px 32px,
    rgba(156, 172, 172, 0.2) 0px 64px 64px;
}

#videos {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  position: relative;
}

#user-disconnected {
  flex-direction: column;
}

#buttons {
  justify-content: center;
}

button {
  margin: 0 5px 15px 5px;
  background-color: white;
  border: #00aff0 solid 1px;
  border-radius: 5px;
  color: #00aff0;
}
